<ion-view id="tabsView">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
    </ion-nav-buttons> 
    <ion-tabs class="tabs-stable tabs-icon-top">
        <ion-tab  title="My Plans" icon="ion-android-done-all" href="templates/tabs/myPlans.html" id="tabMyPlans">
            <ion-nav-view name="viewMyPlans"></ion-nav-view>
        </ion-tab>
        <ion-tab  title="My Tracks" icon ="ion-android-navigate" href="templates/tabs/myTracks.html" id="tabMyTracks">
            <ion-nav-view name="viewMyTracks"></ion-nav-view>
        </ion-tab>
        <ion-tab  title="Explore" icon="ion-android-bulb" href="templates/tabs/explore.html" id="tabExplore">
            <ion-nav-view name="viewExplore"></ion-nav-view>
        </ion-tab>
    </ion-tabs>

</ion-view>